.pw-tooltip-container {
    font-size: 10px;
    position: absolute;
    background-color: white;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    width: 53%;
    height: 138px;
    left: 354px;
    top: 220px;
    z-index: 1000;
    text-align: left;
}
.pw-tooltip-container p{
    font-weight: bolder;
    font-size: 10px;
    margin: 0;
}

.pw-tooltip-container ul{
    list-style: none;
    font-size: 10px;
    margin: 0;
    padding:10px 0 0 20px;
    line-height: 1.3;
}
.pw-tooltip-container > ::after {
    content: "";
    background-color: white;
    position: absolute;
    box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.2);
    width: 15px;
    height: 15px;
    top: 20%;
    left: 0;
    margin-left: -7px;
    transform: rotate(135deg)
}
.pw-tooltip-container ul li {
}
.pw-tooltip-container i{
    width: 10px;
}
.fa-exclamation-triangle{
    color: red;
}
.fa-circle{
    font-size: 4px;
    top: -2px;
    position: relative;
}
.fa-check{
    color: #5e5eff;
}